.container { width: 100%; height: 100%; position: relative; top: 0; left: 0; }
.container * { background-position: center center; background-repeat: no-repeat; background-size: cover; letter-spacing: -1px; box-sizing: border-box; }
.container a { text-decoration: none; }
.container > .section > .article01 > div { background-color: #2855a4; }
.container > .section > .article01 > div > h2 { color: #fff; font-weight: bold; }
.container > .section > .article01 > div > h3 { color: #ccc; font-weight: lighter; }
.container > .section > .article01 > ul { background-color: #f3f3f3; }
.container > .section > .article01 > ul > li > a { width: 100%; height: 100%; display: block; }
.container > .section > .article01 > ul > li > a > h4 { color: #222; font-weight: bold; }
.container > .section > .article01 > ul > li > a > h5 { color: #555; font-weight: lighter; }
.container > .section > .article01 > ul > li:hover * { color: #2855a4; }
.container > .section > .article01 > ul > .on { background-color: #fff; }
.container > .section > .article02 > ul > li { float: left; }
.container > .section > .article02 > ul > li > a { width: 100%; height: 100%; display: block; color: #777; }
.container > .section > .article02 > ul > li > .present { color: #333; font-weight: bold; }
.container > .section > .article02 > ul:after { content: ""; display: block; clear: both; }
.container > .section > .article02 > .mapBox > ul { width: 100%; overflow: hidden; }
.container > .section > .article02 > .mapBox > ul > li { width: 50%; float: left; text-align: center; background-color: #2855a4; }
.container > .section > .article02 > .mapBox > ul > li > button { width: 100%; height: 100%; background-color: transparent; font-weight: bold; color: #fff; }
.container > .section > .article02 > .mapBox > ul > .on > button { background-color: #eee; color: #333; }
.container > .section > .article02 > .mapBox > ul:after { content: ""; display: block; clear: both; }
.container > .section > .article02 > .mapBox > #tab1 { width: 100%; background-image: url(../img/map.png); }
.container > .section > .article02 > .mapBox > #tab1 > span { width: 0; height: 0; display: block; overflow: hidden; }
.container > .section > .article02 > .mapBox > #tab2 { width: 100%; background-color: #504; }
.container > .section > .article02 > .publicTransport > h3 { color: #555; font-weight: bold; }
.container > .section > .article02 > .publicTransport > h4 { color: #333; font-weight: bold; }
.container > .section > .article02 > .publicTransport > h5 { color: #555; }

@media all and (min-width: 1080px) { .container { overflow: hidden; height: 100%; }
  .container > .section { width: 100%; height: 90%; }
  .container > .section > div { float: left; }
  .container > .section > .article01 { width: 20%; height: 100%; }
  .container > .section > .article01 > div { width: 100%; height: 20%; padding-top: 18%; padding-left: 10%; }
  .container > .section > .article01 > div > h2 { font-size: 42px; width: 100%; margin: 0 auto; }
  .container > .section > .article01 > div > h3 { font-size: 24px; width: 100%; margin: 0 auto; }
  .container > .section > .article01 > ul { width: 100%; height: 80%; }
  .container > .section > .article01 > ul > li { padding: 7.5%; }
  .container > .section > .article01 > ul > li > a { width: 100%; height: 100%; }
  .container > .section > .article01 > ul > li > a > h4 { font-size: 28px; float: left; }
  .container > .section > .article01 > ul > li > a > h5 { font-size: 24px; float: right; }
  .container > .section > .article01 > ul > li > a:after { content: ""; display: block; clear: both; }
  .container > .section > .article02 { width: 80%; height: 100%; padding: 0 2%; padding-top: 4%; }
  .container > .section > .article02 > ul { width: 100%; padding-left: 75%; margin-bottom: 3%; }
  .container > .section > .article02 > ul > li { float: left; width: auto; margin: 0 1%; font-size: 14px; }
  .container > .section > .article02 > ul > li > a { font-size: 16px; }
  .container > .section > .article02 > .mapBox { width: 70%; height: 80%; float: left; }
  .container > .section > .article02 > .mapBox > ul { height: 7%; border-top-right-radius: 20px; border-top-left-radius: 20px; }
  .container > .section > .article02 > .mapBox > ul > li { height: 100%; }
  .container > .section > .article02 > .mapBox > ul > li > button { font-size: 18px; }
  .container > .section > .article02 > .mapBox > .map { width: 100%; height: 93%; }
  .container > .section > .article02 > .publicTransport { width: 25%; float: right; }
  .container > .section > .article02 > .publicTransport > h3 { font-size: 24px; margin-bottom: 20px; }
  .container > .section > .article02 > .publicTransport > h4 { font-size: 18px; margin-bottom: 5px; }
  .container > .section > .article02 > .publicTransport > h5 { font-size: 16px; margin-bottom: 30px; line-height: 24px; }
  .container > .section > div:after { content: ''; display: block; clear: both; }
  .container > .section:after { content: ""; display: block; clear: both; } }
@media (min-width: 641px) and (max-width: 1079px) { .container { width: 100%; }
  .container > .section { width: 100%; height: 90%; }
  .container > .section > div { float: left; }
  .container > .section > .article01 { width: 100%; height: auto; }
  .container > .section > .article01 > div { width: 40%; height: 100%; float: left; padding: 2%; }
  .container > .section > .article01 > div > h2 { font-size: 28px; width: 100%; margin: 0 auto; text-align: right; }
  .container > .section > .article01 > div > h3 { font-size: 22px; width: 100%; margin: 0 auto; text-align: right; }
  .container > .section > .article01 > ul { width: 60%; height: 100%; float: left; }
  .container > .section > .article01 > ul > li { padding: 2%; }
  .container > .section > .article01 > ul > li > a { width: 100%; height: 100%; }
  .container > .section > .article01 > ul > li > a > h4 { font-size: 22px; float: left; }
  .container > .section > .article01 > ul > li > a > h5 { font-size: 20px; float: right; }
  .container > .section > .article01 > ul > li > a:after { content: ""; display: block; clear: both; }
  .container > .section > .article02 { width: 100%; height: 100%; padding: 0 5%; padding-top: 2%; }
  .container > .section > .article02 > ul { width: 100%; padding-left: 70%; margin-bottom: 5%; }
  .container > .section > .article02 > ul > li { float: left; width: auto; margin: 0 1%; font-size: 14px; }
  .container > .section > .article02 > ul > li > a { font-size: 16px; }
  .container > .section > div:after { content: ''; display: block; clear: both; } }
@media (max-width: 640px) { .container > .section { padding-top: 70px; }
  .container > .section > .article01 { width: 100%; }
  .container > .section > .article01 > div { padding: 3%; }
  .container > .section > .article01 > ul { width: 100%; }
  .container > .section > .article01 > ul > li { width: 100%; padding: 3%; }
  .container > .section > .article01 > ul > li > a { width: 100%; height: 100%; }
  .container > .section > .article01 > ul > li > a > h4 { width: 60px; float: left; font-size: 14px; }
  .container > .section > .article01 > ul > li > a > h5 { float: left; font-size: 14px; }
  .container > .section > .article01 > ul > li a:after { content: ""; display: block; clear: both; }
  .container > .section > .article02 { width: 100%; }
  .container > .section > .article02 > ul { width: 100%; padding: 3%; }
  .container > .section > .article02 > ul > .list > a { font-size: 12px; }
  .container > .section > .article02 > ul > .arrow { font-size: 12px; } }


.customoverlay {position:relative !important;bottom:85px !important;border-radius:6px !important;border: 1px solid #ccc !important;border-bottom:2px solid #ddd !important;float:left !important;}
.customoverlay:nth-of-type(n) {border:0 !important; box-shadow:0px 1px 2px #888 !important;}
.customoverlay a {display:block !important;text-decoration:none !important;color:#000 !important;text-align:center !important;border-radius:6px !important;font-size:14px !important;font-weight:bold !important;overflow:hidden !important;background: #0000ff url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center !important;}
.customoverlay .title {display:block !important;text-align:center !important;background:#fff !important;margin-right:35px !important;padding:10px 15px !important;font-size:14px !important;font-weight:bold !important;}
.customoverlay:after {content:'' !important;position:absolute !important;margin-left:-12px !important;left:50% !important;bottom:-12px !important;width:22px !important;height:12px !important;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png') !important;}

